# Assignment-7

In [1]:
# 1.Create a list of 5 numbers. Print the first and last elements using indexing.

In [2]:
l=[2,3,5,7,8]
print("first element of list is",l[0])
print("last element of list is",l[-1])

first element of list is 2
last element of list is 8

In [3]:
# 2.Print the list in reverse using slicing.

In [3]:
l=[2,3,5,7,8]
print(l)
print("reserse order: ")
print(l[::-1])

[2, 3, 5, 7, 8]
reserse order:
[8, 7, 5, 3, 2]

In [5]:
# 3.Print the elements from index 1 to 3 (inclusive).

In [4]:
l=[2,3,5,7,8]
print(l[1:4])

[3, 5, 7]

In [7]:
# 4.Find the sum of all elements in the list using a for loop.

In [5]:
l=[2,3,5,7,8]
sum=0
for i in l:
    sum+=i
print("sum of element of list is",sum)

sum of element of list is 25

In [10]:
# 5.Count how many even numbers are present in the list.

In [6]:
l=[2,3,5,7,8]
even=0
for i in l:
    if i%2==0:
        even+=1
print("number of even in list is",even)

number of even in list is 2

In [6]:
# 6.Print only the elements at even index positions.

In [8]:
l=[2,3,5,7,8]
print(l[0::2])

[2, 5, 8]

In [14]:
# 7.Create a list of 5 names. Print each name in uppercase using a for loop.

In [9]:
names=["shalni","usha","khushboo","ritu","anchal"]
for name in names:
    print(name.upper())

SHALNI
USHA
KHUSHBOO
RITU
ANCHAL

In [ ]:
# 8.Print the length of the list using len() function.

In [11]:
names=["shalni","usha","khushboo","ritu","anchal"]
print("length of names is",len(names))

length of names is 5

In [10]:
# 9.Replace the 3rd element of the list with a new value.

In [15]:
names=["shalni","usha","khushboo","ritu","anchal"]
names[2]="khushi"
print(names)

['shalni', 'usha', 'khushi', 'ritu', 'anchal']